.searching-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.242); /* Sfondo semi-trasparente */
    z-index: 999; /* Mettilo sotto il popup */
}

.searching-popup-container {
    position: fixed;
    border-radius: 20px;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 470px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Sfondo bianco solido */
    z-index: 1000; /* Alto valore per essere sopra altri elementi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra per il popup */
}

.searching-popup {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%; /* Larghezza al 100% del contenitore esterno */
    height: 100%; /* Altezza al 100% del contenitore esterno */
}


.search-input {
    margin: 5px;
    width: calc(100% - 10px); /* Larghezza della casella di testo */
}

.category-list {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100%;
    overflow-y: auto; /* Abilita lo scorrimento verticale */
}

/* Nel file searchPopup.css */
.category-item {
    margin: 5px;
    display: flex;
    align-items: center; /* Allinea verticalmente il testo */
}

.category-item label {
    display: flex;
    align-items: center; /* Allinea verticalmente il testo */
}




.category-list::-webkit-scrollbar {
    width: 8px; /* Larghezza della barra laterale */
}

.category-list::-webkit-scrollbar-track {
    background: #f4f4f4; /* Colore dello sfondo della barra laterale */
}

.category-list::-webkit-scrollbar-thumb {
    background-color: #3a3a3a; /* Colore della barra laterale */
    border-radius: 5px; /* Bordo arrotondato */
}

/* Nel file searchPopup.css */
.button-container {
    display: flex;
    justify-content: space-between; /* Distribuisci gli elementi lungo l'asse principale (orizzontalmente) */
    margin: 5px;
}

.closing-button {
    background-color: #fd1818;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color:#ffffff;
    transition: background-color 0.3s ease;
    margin-right: auto;
    order: 1; /* Imposta l'ordine per posizionare il bottone "Chiudi" a sinistra */
}

.searching-button {
    background-color: blue;
    color:#ffffff;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    order: 2; /* Imposta l'ordine per posizionare il bottone "Cerca" a destra */
}
.search-button {
    background-color: #d01515; /* Definisci il colore e lo spessore del bordo */
    border: none; /* Rimuovi il bordo */
    border-radius: 30px;
    padding: 0.5rem 1rem; /* Aggiungi padding per una migliore usabilità */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Aggiungi transizione per l'effetto hover */
}

    /* .close-button:hover {
        *background-color: #b80b0b; 
    } */
